services:
  amd64:
    build:
      context: .
      args:
        packages: ${packages}
        ruby_version: ${ruby_version}
        asdf_version: ${asdf_version}
        platform: amd64
      platforms:
        - linux/amd64
    image: $image_prefix:$ruby_version

  arm64:
    build:
      context: .
      args:
        packages: ${packages}
        ruby_version: ${ruby_version}
        asdf_version: ${asdf_version}
        platform: arm64
      platforms:
        - linux/arm64

    image: $image_prefix:$ruby_version-arm64
